<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Document</title>
</head>
<body>
  <div id='test'>
    <label for="male">
      男:<input type="radio" name="sex" value="男" v-model="sex">
    </label>
    <label for="female">
      女:<input type="radio" name="sex" value="女" v-model="sex">
    </label>
    <h3> {{sex}} </h3>
  </div>

  <script src='../JS/vue.js'></script>
  <script>
    const test = new Vue({
      el: '#test',
      data: {
        sex: ""
      }
    })
  </script>
</body>
</html>